*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	width: 100%;
	font-family: 'Open sans';
}

.wrap{
	width: 1200px;
	max-width: 2000%;
	margin: 60px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

form.form_request input, form.form_request texarea {

	width: 60%;
	padding: 8px 0px 5px;
}

form.form_request input, .form.form_request textarea {

	width: 60%;
	padding: 8px 0px 5px;

}

ul.tabs li{

	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: rgb(255, 255, 255);
}

ul.tabs li a .tab-text{
	background: rgb(81, 191, 255);
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: rgb(81, 191, 255);
}

.secciones article{
	background: rgb(81, 191, 255);
	padding: 30px;
}

.form .text-input, .form .textarea, .form .label, .form .button {
	padding: 1em 1.5em;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	outline: none;
	line-height: normal;
	border: 1px solid transparent;
	border-radius: 0;
  }
  

.form .text-input, .form .textarea {
	font: inherit;
	line-height: normal;
	width: 100%;
	box-sizing: border-box;
	display: block;
	padding-left: 0;
	border-color: transparent text;
	border-bottom-color: rgba(40, 52, 216, 0.3);
	background: transparent;
	outline: none;
	color: black;
	}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}

}
