/*!
Theme Name: beacon-theme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: beacon-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

beacon-theme is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.cart-link img{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
        
	filter: FlipH;
    -ms-filter: "FlipH";
    margin-top: -5px;
}
.skills{
	margin: 100px auto 0px auto;
}
.skills img{
	width: 100%;
}
.sliderHome .slideInd{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 800px;
	position: relative;
	display: table !important;
}
.sliderHome .slideInd:before{
	content: '';
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 1;
}
.sliderHome .slideInd .contenido{
	display: table-cell;
    vertical-align: middle;
}
.sliderHome .slideInd h1{
	color: #F9EC2B;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 50px;
	position: relative;
	z-index: 2;
	margin-bottom: 0px;
	font-weight: bold;
}
.sliderHome .slideInd h2{
	color: white;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	z-index: 2;
	margin-bottom: 0px;
}

.sliderHome .slideInd ul li {
 	position: relative;
	padding-bottom: 0px;
	position: relative;
	z-index: 2;
	color: white;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.sliderHome .slideInd ul {
  list-style: none;
  margin-left: 70px;
}

.sliderHome .slideInd ul li:before{
   content: '';
   position: absolute;
   border-right:4px solid #F9EC2B;
   border-bottom:4px solid #F9EC2B;
   width:12px;
   height:12px;
   top: 22px;
   left: -23px;
   transform: translateY(-50%) rotate(-45deg);
}
.sliderHome .slideInd a{
	background: #F9EC2B;
	padding: 20px 15px;
	border-radius: 10px;
	color: #0f5e92;
	text-decoration: none;
	position: relative;
	z-index: 2;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 50px;
	transition: all 0.5s ease;
}
.sliderHome .slideInd a:hover{
	background: #0f5e92;
	color: #F9EC2B;
	transition: all 0.5s ease;
}
.newsletter_right_w3w3pvt-lau{
	border-bottom: 5px solid #23acf3;
}
.about-in .card{
	padding: 1em .5em;
}
.card-body .icon{
	background: #23acf3;
	border-radius: 50%;
	padding: 10px;
	width: 60px;
	margin: 0px auto 10px auto;
}
.about-in .card a{
	color: #404040;
}
.about-in .card h5.card-title{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #404040;
}
.about-in .card-body p{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	line-height: 25px;
}
.cargo{
	color: white;
	margin-top: 10px;
}
.team-grids{
	margin-top: 30px;
}
.address-grid i{
	font-size: 30px;
}
#masthead.scrolling{
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(15,94,146,0.9);
	z-index: 99999;
}
.logo{
	width: 220px;
}
.video-promo{
	background: linear-gradient(to left bottom, #0f5e92, #23acf3);
    height: 250px;
    text-align: center;
}

.video-promo a{
	line-height: 250px;
	outline: none;
}
.video-promo img{
	width: 100px;
}
.page-template-content-training #masthead, .page-template-content-payment #masthead,
.woocommerce-page #masthead,
.tml-action #masthead{
	background: rgb(15,94,146);
}

.page-template-content-training #masthead.scrolling, .woocommerce-page #masthead.scrolling,
.tml-action #masthead.scrolling{
	background: rgba(15,94,146,0.9);
}
.woocommerce-page article header, .tml-action article .entry-header{
	position: relative;
}

.page-template-content-training .principal-title,
.woocommerce-page header .entry-title,
.tml-action article .entry-header .entry-title{
	margin-top: 150px;
	text-align: center;
	color: #0f5e92;
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
}

.page-template-content-training .izq h1, .page-template-content-training .der h1{
	color: #0f5e92;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0px;
}
.page-template-content-training .izq p{
	text-align: justify;
}
.page-template-content-training .izq ul li, .page-template-content-training .izq ol li {
 	position: relative;
	padding-bottom: 0px;
	position: relative;
	z-index: 2;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	color: #999;
}
.page-template-content-training .izq  ul {
  list-style: none;
  margin-left: 20px;
}

.page-template-content-training .izq  ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid #0f5e92;
   border-bottom:2px solid #0f5e92;
   width:10px;
   height:10px;
   top: 18px;
   left: -23px;
   transform: translateY(-50%) rotate(-45deg);
}
.page-template-content-training form p:nth-child(2),
.page-template-content-training form p:nth-child(3),
.page-template-content-training form p:nth-child(5),
.page-template-content-training form p:nth-child(6){
	width: 49%;
	display: inline-table;
	vertical-align: bottom;
}
.page-template-content-training form p:nth-child(17),
.page-template-content-training form p:nth-child(18),
.page-template-content-training form p:nth-child(4),
#billing_myfield15_field, #billing_myfield19_field,
#billing_myfield21_field{
	border: 1px solid #23acf3;
	border-radius: 3px;
	padding: 5px 10px 10px 10px;

}
.page-template-content-training form p:nth-child(10),
.page-template-content-training form p:nth-child(11){
	display: inline-table;
	width: 35%;
	vertical-align: bottom;
}
.page-template-content-training form p:nth-child(12){
	display: inline-table;
	width: 28%;
	vertical-align: bottom;
}
.page-template-content-training form p:nth-child(12) input{	
	padding: 12px 15px !important;
}
.page-template-content-training .der input[type="text"],
.page-template-content-training .der input[type="email"],
.page-template-content-training .der input[type="tel"],
.page-template-content-training .der input[type="date"],
.page-template-content-training .der input[type="number"],
.page-template-content-training .der select,
.page-template-content-training .der textarea, 
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.tml-action article form .tml-field-wrap input[type="text"],
.tml-action article form .tml-field-wrap input[type="password"],
select#billing_myfield14{
    outline: none;
    padding: 12px 15px;
    font-size: 15px;
    color: #000;
    width: 100%;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #23acf3;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single{
    outline: none;
    padding: 12px 15px !important;
    font-size: 15px;
    color: #000;
    width: 100%;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #23acf3 !important;
    border-radius: 4px;
    height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 15px;
	color: #666;
	padding-left: 0px;
}
.page-template-content-training .der input[type="number"]{
	padding: 13px 15px;
}
.page-template-content-training .der textarea {
    min-height: 12em;
    resize: none;
}

.page-template-content-training .der input[type="submit"], .woocommerce button.button,
.tml-action article form .tml-field-wrap input[type="submit"],
.woocommerce form#order_review .button,
#enrollment-training {
    outline: none;
    padding: 13px 0;
    font-size: 15px;
    margin-top: 2em;
    color: #fff;
    background: #23acf3;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 32%;
    margin: 1.5em auto 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
#enrollment-training{
	width: 230px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}
.woocommerce-notices-wrapper .woocommerce-message{
	display: none;
}
.page-template-content-training .der input[type="submit"]:hover,
.woocommerce button.button:hover,
.tml-action article form .tml-field-wrap input[type="submit"]:hover,
.woocommerce form#order_review .button:hover,
#enrollment-training:hover {
    background: #343a40;
    color: white;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.tml-action article form .tml-field-wrap input[type="submit"]{
	margin: 10px auto;
	display: block;
}
.post, .page{
	margin: 0px;
}
.note{
	color:#0f5e92;
	line-height: 16px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
.footer.py-5{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}
.aboutright img{
	width: 70%;
    margin-top: 25px;
}
.about .aboutleft p{
	text-align: justify;
}
.n-right-w3ls form p:nth-child(2), .n-right-w3ls form p:nth-child(3){
	width: 40%;
	display: inline-table;
}
.n-right-w3ls form p:nth-child(4){
	width: 18%;
	display: inline-table;
}
.n-right-w3ls input[type="submit"]{
	padding: 15px;
	font-size: 17px;
}
.terms{
	text-align: left;
	display: inline-table;
	width: 49%;	
	margin-bottom: 0px;
}
.terms a{
	color: white;
	text-decoration: none;
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p.copy-right-grids{
	display: inline-table;
	width: 50%;
	text-align: right;	
	margin-bottom: 0px;
}
.address-left{
	margin-right: 0px;
	padding-right: 0px;
}
.address-right{
	margin-left: 0px;
	padding-left: 0px;
}
footer .address.mb-4{
	margin-bottom: 0px !important;
}
.w3l-footer{
	margin-top: 0px !important;
}
.testi-w3ls .container{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.testi-w3ls .container .slideInd{
	min-height: 400px !important;
	max-height: 400px !important;
	height: 400px !important;
	display: table !important;
}
.testi-w3ls .container .slideInd .test-text-w3pvt{
	display: table-cell;
	vertical-align: middle;
}
.page-template-content-payment .principal-title{
	margin-top: 150px;
	text-align: center;
	color: #0f5e92;
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
}
.page-template-content-payment .section-training{
	padding-bottom: 100px;
	text-align: center;
}
.page-template-content-payment .section-training p, .page-template-content-payment .section-training h1,
.page-template-content-payment .section-training h2, .page-template-content-payment .section-training h3{
	width: 100%;
}
.page-template-content-payment .section-training form{
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
.page-template-content-payment fieldset legend,
.woocommerce-edit-account .woocommerce-MyAccount-content form fieldset legend{
	color: #0f5e92;
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif; 
}
.page-template-content-payment fieldset .wpep-field label{
	color: #0f5e92;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif; 
}
.page-template-content-payment fieldset .wpep-field .wpep-input{
	width: 99%;
}
.page-template-content-payment fieldset .wpep-button-submit{
	outline: none;
    padding: 13px 0;
    font-size: 15px;
    margin-top: 2em;
    color: #fff !important;
    background: #23acf3 !important;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    margin:  10px !important;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.page-template-content-payment fieldset .wpep-button-submit:hover {
    background: #343a40;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.page-template-content-payme
.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th{
text-align: center;
}nt .footer.py-5{
	margin-bottom: -40px;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	display: none;
}
.woocommerce-account .woocommerce-MyAccount-content{
	width: 80%;
	margin-left: 10%;
	float: none;
}
.woocommerce-account .woocommerce-MyAccount-content form h3{
	color: #0f5e92;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}
.woocommerce-edit-address .woocommerce-MyAccount-content form .form-row{
	width: 49%;
	display: inline-table;
	vertical-align: top;
}
.woocommerce-edit-address .woocommerce-MyAccount-content form .form-row:nth-child(2n){
	float: right;
}
.woocommerce-edit-account .woocommerce-MyAccount-content form fieldset{
	margin-top: 30px;
}
.woocommerce-edit-account .woocommerce-MyAccount-content form fieldset .woocommerce-form-row{
	width: 47%;
	float: left;
}
.woocommerce-edit-account .woocommerce-MyAccount-content form .woocommerce-Button{
	display: inherit;
	margin: 30px auto 60px auto;
}
.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses{
	margin-bottom: 50px;
}
.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address{
	width: 50%;
	max-width: 50%;
}
.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address.col-2{
	display: none;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label,

.tml-action article form .tml-field-wrap label{
	color: #0f5e92;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;	
}
.woocommerce-address-fields__field-wrapper ~ p{
	text-align: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 41px;
}
.woocommerce form .form-row#billing_address_2_field, .woocommerce form .form-row#shipping_address_2_field{
	margin-top: 31px;
}
.woocommerce-edit-address form .form-row#billing_city_field, 
.woocommerce-edit-address form .form-row#billing_state_field, 
.woocommerce-edit-address form .form-row#billing_postcode_field{
	width: 30.33%;
	float: none;
}
.woocommerce-edit-address form .form-row#billing_city_field{
	margin-right: 3%;
}
.woocommerce-edit-address form .form-row#billing_state_field{
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.woocommerce-edit-address form .form-row#billing_postcode_field{
	margin-left: 3%;	
}
body.login #login{
	width: 100%;
}
.tml-action article form{
	width: 320px;
	margin: 0px auto;
}
.tml-action article .tml-links{
	text-align: center;
	list-style: none;
	margin-left: 0px;
	margin-bottom: 50px;
}
.tml-action article .tml-links li a, .woocommerce-account .addresses .title .edit,
.woocommerce-privacy-policy-text a{
	color: #0f5e92;
}
.tml-action article form .tml-rememberme-wrap{
	margin-top: 15px;
}
.woocommerce-orders .woocommerce-MyAccount-content .woocommerce-message a{
	display: none;
}
.woocommerce-orders-table__cell-order-actions a{
	outline: none;
	width: inherit;
	display: inline-block;
    padding: 13px 0;
    font-size: 15px;
    margin-top: 2em;
    color: #fff !important;
    background: #23acf3 !important;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px !important;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th{
	text-align: center;
}
.woocommerce form#order_review{
	width: 100%;
	margin: 10px auto;
}
.woocommerce form#order_review table.shop_table{
	width: 60%;
	margin: 20px auto;
}
.woocommerce-view-order .woocommerce-table--order-details a,
body.woocommerce-order-received .woocommerce-order .woocommerce-order-details a{
	pointer-events: none;
	color: #0f5e92;
}

#add_payment_method #payment ul.payment_methods .stripe-card-group, .woocommerce-checkout #payment ul.payment_methods .stripe-card-group,
.wc-stripe-elements-field, .wc-stripe-iban-element-field{
	width: 100%;
	display: block;
}
.wc-payment-form .form-row label{
	width: 100%;
}
body.woocommerce-order-received .woocommerce-order{
	width: 60%;
	margin: 0px auto;
}
body.woocommerce-order-received .woocommerce-order{
	font-family: 'Montserrat', sans-serif;
}
body.woocommerce-order-received .woocommerce-order .woocommerce-order-details h2,
body.woocommerce-order-received .woocommerce-order .woocommerce-customer-details h2,
body.woocommerce-view-order .woocommerce-order-details h2,
body.woocommerce-view-order .woocommerce-customer-details h2,
.woocommerce-checkout form.woocommerce-checkout .col-1 h3{
	color: #0f5e92;
	font-family: 'Montserrat', sans-serif;	
}
#masthead .navbar-nav.loggin .mx-lg-4 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.woocommerce-checkout form.woocommerce-checkout #customer_details{
	width: 50%;
	vertical-align: top;
	display: inline-table;
}
.woocommerce-checkout form.woocommerce-checkout .col-1 {
	max-width: 100%;
    display: block;
    float: none;
    width: 95%;
    margin: 0px 0px 0px auto;
}
.woocommerce-checkout form.woocommerce-checkout .col-2{
	display: none;
}
.woocommerce-checkout form.woocommerce-checkout #order_review_heading{
	display: none;
}
.woocommerce-checkout form.woocommerce-checkout .woocommerce-checkout-review-order{
	width: 45%;
    display: inline-table;
    vertical-align: top;	
}
.woocommerce-checkout #payment{
	width: 100%;
	margin: 10px auto;
}
.woocommerce-checkout #payment button.button.alt{
	background: #23acf3;
}
.woocommerce-checkout #payment .payment_box{
	background-color: #23acf3 !important;
	font-family: 'Montserrat', sans-serif;	
}
.woocommerce-checkout #payment .payment_box:before{
	border-bottom-color: #23acf3 !important;
}
.woocommerce-checkout #payment .payment_box p{
	color: white !important;
	font-family: 'Montserrat', sans-serif;	

}
.woocommerce-checkout #payment .wc_payment_method input[type="radio"] ~ label,
.woocommerce table.shop_table th{
	color: #0f5e92;
	font-family: 'Montserrat', sans-serif;	
}
form#order_review .payment_methods label{
	color: white;
	margin-left: 0px !important;
}
.woocommerce-checkout form.woocommerce-checkout fieldset{
	padding: 0px;
}
.woocommerce-checkout form.woocommerce-checkout fieldset legend{
	color: #0f5e92;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif; 
}
.woocommerce-checkout form.woocommerce-checkout fieldset label{
	display: inline-block;
	margin-right: 15px;
}
.file_upload_button_hide{
	display: none !important;
}
#billing_myfield20{
	min-height: 100px;
}
#billing_myfield19_field button,
#billing_myfield21_field button{
	display: block;
	width: 150px;
	height: 40px;
}
#billing_country_field{
	display: none;
}
#billing_myfield19_field label,
#billing_myfield21_field label{
	width: 100%;
}
#billing_city_field, #billing_state_field, #billing_postcode_field{
	width: 32%;
	display: inline-table;
	vertical-align: top;
}
#billing_city_field{
	margin-right: 1%;
}
#billing_state_field{
	margin-left: 0.5%;
	margin-right: 0.5%;
}
#billing_postcode_field{
	margin-left: 1%;
}
.woocommerce-checkout form.woocommerce-checkout #payment fieldset label{
	color: white;
}
#billing_myfield22_field{
	font-size: 18px;
	font-weight: bold;
}
#billing_myfield23_field{
	font-size: 16px;
}
.wooccm_each_file .wooccm-image-holder{
	width: 10px !important;
}
name.wooccm_name, .wooccm_each_file span.container{
	display: inline-table !important;
	width: 100% !important;
}
.wooccm_each_file img{
	display: none !important;
}
.wooccm_each_file{
	display: inline-table !important;
	width: calc(100% - 160px) !important;
	vertical-align: top !important;
	padding-top: 0px !important;
}
.container .wooccm-btn{
	padding: 1.7% 2.7% !important;
}
@media(max-width: 480px){
	.main-w3pvt{
		min-height: 500px;
	}
	.main-w3pvt .banner-img{
		position: relative;
		width: 100%;
		margin-top: 150px;
		display: block;
	}
	.main-w3pvt .banner-img img{
		width: 150px;
		margin: 0px auto;
		display: block;
	}
	.main-w3pvt .banner-img .effect-w3{
		margin-left: auto;
	}
	.main-w3pvt .style-banner{
		width: 100%;
		position: relative;
		margin-top: 120px;
		display: block;
		text-align: center;
	}
	.skills{
		margin-top: 50px;
	}
	.aboutright img{
		width: 100px;
	}
	.introducing h1{
		font-size: 40px;
	}
	.introducing h2{
		font-size: 30px;
		text-align: center;
	}
	.sliderHome .slideInd h1{
		font-size: 30px;
		text-align: center;
		padding-left: 0px;
	}
	.sliderHome .slideInd ul{
		margin-left: 30px;
	}
	.sliderHome .slideInd ul li{
		font-size: 20px;
	}
	.sliderHome .slideInd ul li:before{
		width: 7px;
	    height: 7px;
	    top: 15px;
	    left: -15px;
	}
	.sliderHome .slideInd h2{
		font-size: 30px;
	}
	.n-right-w3ls form p:nth-child(2), .n-right-w3ls form p:nth-child(3){
		width: 100%;
	}
	.n-right-w3ls form p:nth-child(4){
		margin: 0px auto;
		display: block;
		width: 100px;
	}
	.terms{
		width: 100%;
		text-align: center;
	}
	p.copy-right-grids{
		width: 100%;
		text-align: center;	
	}
	.navbar-collapse ul{
		margin-left: 0px;
	}
	.sliderHome .slideInd .contenido p:nth-child(4){
		padding-left: 0px !important;
		text-align: center;
	}
	.section-training.offset-1{
		margin-left: 0px;
		width: 100%;
	}
	.page-template-content-training form p:nth-child(2), .page-template-content-training form p:nth-child(3), .page-template-content-training form p:nth-child(5), .page-template-content-training form p:nth-child(6){
		width: 100%;
	}
	.page-template-content-training .der input[type="submit"]{
		display: block;
		margin: 20px auto;
		text-align: center;
	}
}
 .imgtraining{
 	margin-top: 30px;
 	width: 100%;
 }
 .banner-interpretation{
	width: 100%;
	background-image: url(images/banners/Banner-1.jpg);
	background-size: cover;
	height: 100vh;
	padding-top: 100px;
	position: relative;
 }
 .banner-interpretation::before{
	 width: 100%;
	 height: 100vh;
	 background: rgba(0,0,0,0.5);
	 position: absolute;
	 top: 0;
	 left: 0;
	 content: '';
 }
 .banner-interpretation h1{
	 width: 40%;
	 margin-left: 10%;
	 font-size: 50px;
	color: white;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
	position: relative;
	z-index: 1;
}
.banner-interpretation p{
	font-family: 'Montserrat', sans-serif;
	width: 45%;
	margin-left: 10%;
	color: white;
	line-height: 22px;
	position: relative;
	z-index: 1;
}
.banner-interpretation .enlaces{
	width: 40%;
	margin-left: 10%;
}
.banner-interpretation .enlaces a{
	outline: none;
    padding: 13px 20px;
    font-size: 15px;
    color: #fff;
	background: #23acf3;
    border:1px solid #23acf3;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 32%;
	margin: 30px 25px 0px 0px;
	position: relative;
	z-index: 1;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.banner-interpretation .enlaces a:hover{
	background: transparent;
	border: 1px solid #23acf3;
	color: white;
    transition: 0.5s all;	
}
.content-area h3{
	text-transform: uppercase;
	color: #0f5e92;
	margin-top: 40px;
	margin-bottom: 30px;
}
.content-area .body-page{
	width: 80%;
	margin-left: 10%;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 20px;
}
.content-area .body-page ul{
	list-style: none;
	color: #999;
	font-family: 'Montserrat', sans-serif;
	
}
.content-area .body-page ul li i{
	color: #0f5e92;
	margin-right: 5px;
}
.banner-translation{
	width: 100%;
	background-image: url(images/banners/slide2.jpg);
	background-size: cover;
	height: 100vh;
	padding-top: 100px;
	position: relative;
	text-align: center;
 }
 .banner-translation::before{
	 width: 100%;
	 height: 100vh;
	 background: rgba(0,0,0,0.5);
	 position: absolute;
	 top: 0;
	 left: 0;
	 content: '';
 }
 .banner-translation h1{
	width: 100%;
	font-size: 50px;
   color: white;
   font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 20px;
   position: relative;
   z-index: 1;
   margin-top: 10%;
}
.banner-translation p{
   font-family: 'Montserrat', sans-serif;
   width: 100%;
   color: white;
   line-height: 22px;
   position: relative;
   z-index: 1;
   margin-bottom: 50px;
}
.banner-translation .enlaces{
   width: 100%;
   margin-left: 0%;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
}
.banner-translation .enlaces a{
   outline: none;
   padding: 13px 20px;
   font-size: 15px;
   color: #fff;
   background: #23acf3;
   border:1px solid #23acf3;
   letter-spacing: 2px;
   cursor: pointer;
   border-radius: 4px;
   width: 32%;
   margin: 30px 25px 0px 0px;
   position: relative;
   font-family: 'Montserrat', sans-serif;
   z-index: 1;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   -ms-transition: 0.5s all;
   transition: 0.5s all;
}
.banner-translation .enlaces a:hover{
   background: transparent;
   border: 1px solid #23acf3;
   color: white;
   transition: 0.5s all;	
}
.specializations{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	display: table;
}
.specializations .specialization{
	display: inline-table;
	width: 25%;
	margin-bottom: 50px;
}
.specializations .specialization .image{
	width: 70px;
	background: #23acf3;
	border-radius: 50%;
	padding: 15px;
	margin: 0px auto;
}
.specializations .specialization .image img{
	width: 100%;
}
.specializations .specialization .text{
	margin-top: 10px;
}
.specializations .specialization .text h2{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	color: #0f5e92;
	font-weight: bold;
}
.specializations .specialization .text p{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.banner-vri{
	width: 100%;
	background-image: url(images/banners/slide2.jpg);
	background-size: cover;
	height: 100vh;
	padding-top: 15%;
	position: relative;
	text-align: center;
 }
 .banner-vri::before{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	content: '';
 }
 .banner-vri h1{
	width: 100%;
	font-size: 50px;
   	color: white;
   	font-weight: bold;
   	font-family: 'Montserrat', sans-serif;
   	position: relative;
	   z-index: 1;
	   margin: 0px;
}
.banner-vri p{
   	font-family: 'Montserrat', sans-serif;
   	width: 100%;
   	color: white;
   	line-height: 22px;
   	position: relative;
   	z-index: 1;
   	margin-bottom: 50px;
}
.banner-vri .enlaces{
   	width: 100%;
   	margin-left: 0%;
   	text-align: center;
   	font-family: 'Montserrat', sans-serif;
}
.banner-vri .enlaces a{
   	outline: none;
   	padding: 13px 20px;
   	font-size: 15px;
   	color: #fff;
   	background: #23acf3;
   	border:1px solid #23acf3;
   	letter-spacing: 2px;
   	cursor: pointer;
   	border-radius: 4px;
   	width: 32%;
   	margin: 30px 25px 0px 0px;
   	position: relative;
   	font-family: 'Montserrat', sans-serif;
   	z-index: 1;
   	-webkit-transition: 0.5s all;
   	-moz-transition: 0.5s all;
   	-o-transition: 0.5s all;
   	-ms-transition: 0.5s all;
   	transition: 0.5s all;
}
.banner-vri .enlaces a:hover{
   	background: transparent;
   	border: 1px solid #23acf3;
   	color: white;
   	transition: 0.5s all;	
}
.team-text{
	text-align: left;
	color: #404040;
}
.team-text h4, .team-text h6, .team-text p{
	color: #404040;
}
.team-text h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
.team-text p{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
}
#about{
	padding-bottom: 0px !important;
}
#team, #team .py-xl-5{
	padding-top: 0px !important;
}
#team h3{
	margin-top:0px; 
}