/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* Reset Code */
@font-face {
    font-family: basicaline;
    src: url(../fonts/basicaline/Basicaline-NonCommercial.otf);
}
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/* //Reset Code */
/* bottom-to-top */
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
    width: 35px;
    height: 35px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/* //bottom-to-top */

/* header */
header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

/* logo */
a.navbar-brand {
    font-size: 40px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

/* //logo */

/* navigation */
.navbar-light .navbar-nav .nav-link {
    padding: 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 10px;
    left: -37px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #000;
}

.dropdown-item {
    font-size: 14px;
    letter-spacing: 1px;
}

a.reqe-button {
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #fff;
    padding: 9px 20px;
    border-radius: 40px;
    font-size: 14px;
}

/* //navigation */
/* //header */

/* banner */
.main-w3pvt {
    background: linear-gradient(to left bottom, #0f5e92, #23acf3);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.style-banner {
    padding: 17em 4em 12em;
}

.style-banner h1 {
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
.style-banner p{

    font-family: 'Montserrat', sans-serif;
    color: white;
}
.button-style {
    padding: 12px 25px;
    border: none;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #fff;
}

.cabecera{
	padding-top: 100px;
    padding-bottom: 100px;
    
}

.button-style:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    letter-spacing: 3px;
}

/* image layers effect */
.effect-w3 {
    position: relative;
    width: 70%;
    margin-top: 4em;
   
    transition: 0.5s;
    margin-left: 14em;
}

.effect-w3 img {
    position: absolute;
    transition: 0.5s;
}


/* //image layers effect */
/* //banner */

/* banner bottom */
.wthree_banner_bottom_grid_right h4 {
    font-size: 25px;
    color: #000;
    letter-spacing: 1px;
}

/* banner bottom */

/* about */
h2.about-left-w3pvt-lau {
    font-size: 22px;
    letter-spacing: 1px;
}

/* //about */

/* stats */
.middlesection-w3pvt-lau {
    background: linear-gradient(to left bottom, #0f5e92, #23acf3);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

p.counter {
    color: #fff;
    font-size: 3.2em;
    font-weight: 800;
}

/* //stats */

/* services */
.about-in .card {
    padding: 2.5em .5em;
    border: 1px solid transparent;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    background: transparent;
}

.about-in .card:hover,
.about-in .card.active {
    background: #fff;
    -webkit-box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    -moz-box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    border-radius: 15px;
}

.about-in .card i {
    font-size: 34px;
    color: #fff;
    width: 75px;
    height: 75px;
    background: #23acf3;
    border-radius: 50%;
    line-height: 2.2;
}

.about-in .card h5.card-title {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}

p.title-para {
    width: 800px;
}

/* //services */

/* apps */
ul.apps-lists li {
    display: inline-block;
}

ul.apps-lists li a {
    background: #fff;
    color: #000;
    padding: 14px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    display: inline-block;
}

ul.apps-lists li a i {
    color: #1ccacd;
}

ul.apps-lists li a.active {
    background: #1ccacd;
    color: #fff;
}

ul.apps-lists li a.active i {
    color: #fff;
}

/* //apps */

/* pricing */
.w3ls-pricing.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem;
    position: relative;
}

.w3ls-pricing.card-header::after {
    content: "";
    display: table;
    clear: both;
}

.w3ls-pricing.card:after,
.service-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #1e2d3a;
    transition: 0.5s;
}

.w3ls-pricing.card {
    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.w3ls-pricing.card:hover:after {
    width: 100%;
}

.w3ls-pricing.card.service-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #1e2d3a;
    transition: 0.5s;
}

.w3ls-pricing .card-header {
    background-color: white;
    padding-left: 2rem;
    border-bottom: 0px;
}

h4.price-title {
    font-size: 24px;
    letter-spacing: 1px;
}

.w3ls-pricing .card-block {
    padding-top: 0;
}

.list-group-item {
    color: #777;
    font-weight: 300;
    letter-spacing: 1px;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-top: none;
}

.list-group-item:last-child {
    border-bottom: none;
}

.display-2 {
    font-size: 4rem;
    letter-spacing: -6px;
    color: #1ccacd;
}

.display-2 .currency {
    font-size: 2.75rem;
    position: relative;
    font-weight: 600;
    top: -45px;
    letter-spacing: 0px;
    color: #ddd;
}

.display-2 .period {
    font-size: 1rem;
    color: #b3b3b3;
    letter-spacing: 0px;
}

.btn-gradient {
    background-color: #1e2d3a;
    color: #fff;
    transition: background .3s ease-in-out;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .2);
}

.btn-gradient:hover {
    color: white;
    background-color: #1ccacd;
}

.service-active,
.service-active .card-header,
.service-active .list-group-item {
    background: #1ccacd;
}

.service-active .btn-gradient:hover {
    color: #000;
    background-color: #fff;
}

/* //pricing */

/* testimonails */
.testi-w3ls {
    background: #23acf3;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.test-text-w3pvt p i {
    font-size: 20px;
    vertical-align: super;
}

.test-text-w3pvt h4 {
    letter-spacing: 1px
}

/* background bubbles */
.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

/* //background bubbles */
/* //testimonials */

/* team */
.team-grids {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.team-grids h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.team-grids h6 {
    font-size: 1em;
    color: #1ccacd;
    letter-spacing: 2px;
}
.social-icons-section p{
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    color: white;
    line-height: 14px;
    padding: 0px 10px;
}

.social-icons-section a {
    color: #ccc;
}

.social-icons-section a:hover {
    color: #fff;
}

.team-info {
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    border-top: 2px solid #fff;
    padding: 1em 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    width: 92%;
    text-align: center;
}
#clients{
    background: #23acf3;
}
#clients .team-info{
    width: 90%;
}
#clients h3.tittle{
    color: white !important;
}
.team-grids:hover div.team-info {
    bottom: 0;
}

.social-icons-section,
.team-grids h6 {
    margin-top: 0.5em;
}

.caption {
    padding: 0px;
}

.team-info .social-icons-section a {
    margin: 0em .5em;
}
.nav-item.my-3{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
/* team responsive */
@media(max-width:1080px) {
    .team-grids h4 {
        font-size: 1em;
    }

    .about_grids h3 {
        font-size: 22px;
    }
    .about-in .card {
        padding: 1.5em .5em;
    }
}

@media(max-width:1024px) {
    .team-info {
        width: 91%;
    }
}

@media(min-width:992px) {
    .main-w3pvt {
       
        margin-top: 100px;
        padding-top:250px;
    }
}




@media(max-width:991px) {
    .team-info {
        width: 88%;
    }

    header {
        width: 100%;
        margin-top: 10rem;
    }

    #mainNav{
        background: linear-gradient(to left bottom, #0f5e92, #23acf3);
    }
}


@media(max-width:736px) {
    .team-info {
        width: 65%;
        left: 95px;
    }
}

@media(max-width:480px) {
    .team-info {
        width: 76%;
        left: 56px;
    }
}

@media(max-width:440px) {
    .team-info {
        width: 83%;
        left: 36px;
    }
}

@media(max-width:414px) {
    .team-info {
        width: 89%;
        left: 24px;
    }
}

@media(max-width:384px) {
    .team-info {
        width: 92%;
        left: 14px;
    }
}

@media(max-width:320px) {
    .team-info {
        width: 90%;
        left: 15px;
    }
}

/* //team responsive */
/* //team */

/* newsletter */
h3.tittle {
    font-size: 34px;
    color: #0f5e92 !important;
    text-transform: uppercase;
}

p.sub-tittle {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
}
.aboutleft p span{
    font-weight: 600 !important;
    color: #404040;
}

.n-right-w3ls input[type="submit"] {
    background: #23acf3;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 13px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.n-right-w3ls input[type="submit"]:hover {
    background: #000;
    letter-spacing: 6px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.introducing{
    padding: 10px 10% 50px 15% !important;
}
.introducing h1{
    color: #0f5e92;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}
.introducing h2{
    color: #0f5e92;
    text-align: right;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
/* //newsletter */

/* contact */
h4.sec-title-w3 {
    font-size: 26px;
    letter-spacing: 1px;
}

/* contact form */
.main_grid_contact {
    box-shadow: 0px 0px 15.69px 3.31px rgba(204, 204, 223, 0.44)
}

.main_grid_contact input[type="text"],
.main_grid_contact input[type="email"],
.main_grid_contact textarea,
.n-right-w3ls input[type="email"],
.n-right-w3ls input[type="text"] {
    outline: none;
    padding: 12px 15px;
    font-size: 15px;
    color: #000;
    width: 100%;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #23acf3;
    border-radius: 4px;
}

.main_grid_contact textarea {
    min-height: 12em;
    resize: none;
}

.main_grid_contact input[type="submit"] {
    outline: none;
    padding: 13px 0;
    font-size: 15px;
    margin-top: 2em;
    color: #fff;
    background: #23acf3;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 32%;
    margin: 1.5em auto 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.main_grid_contact .input-group1 input[type="submit"]:hover {
    background: #343a40;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* //contact form */
/* map */
.map {
    padding: 0;
}

.map iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* //map */
/* //contact */

/* footer */
footer {
    background-image: linear-gradient(to right bottom, #0f5e92, #23acf3);
}

.address-grid i {
    font-size: 40px;
    color: #fff;
}

.address-right p,
.address-right p a {
    color: #7c848c;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* social-icons footer */
.w3l-footer ul li,
.payment-w3lsmk ul li {
    display: inline-block;
}

.w3l-footer ul li a i {
    height: 40px;
    width: 40px;
    line-height: 2.5;
    background: none;
    border-radius: 50%;
    background: #fff;
    color: #000;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.w3l-footer ul li a i.fa:hover {
    background: #23acf3;
    color: #fff;
    border-color: #23acf3;
}

/* //social-icons footer */

/* copyright */
p.copy-right-grids {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

p.copy-right-grids a {
    color: #000;
}

p.copy-right-grids a:hover {
    color: #fff;
}

/* //copyright */
/* //footer */


/* responsive */

@media(max-width: 1680px) {}

@media(max-width: 1600px) {}

@media(max-width: 1440px) {
    .style-banner h1 {
        font-size: 42px;
    }
    .effect-w3 {
        margin-top: 12em;
        margin-left: 4em;
    }
    .style-banner p {
        font-size: 18px;
    }
    .style-banner {
        padding: 10em 6em 13em 6em;
    }
}

@media(max-width: 1366px) {
    .style-banner h1 {
        font-size: 40px;
    }
    
}

@media(max-width: 1280px) {
    .wthree_banner_bottom_grid_right h4 {
        font-size: 23px;
    }
    p {
        font-size: 15px;
    }
    .style-banner h1 {
        font-size: 38px;
    }
    .style-banner {
        padding: 15em 2em 0 6em;
    }
    .effect-w3 {
        margin-top: 9em;
        margin-left: 10em;
    }
}

@media(max-width: 1080px) {

    /* contact */
    .main_grid_contact textarea {
        min-height: 10em;
    }

    .main_grid_contact .input-group1 input[type="submit"] {
        width: 38%;
    }
    .wthree_banner_bottom_grid_right {
        padding-left: 0;
    }
    .effect-w3 {
        margin-top: 7em;
        margin-left: 6.5em;
    }
    .style-banner {
        padding: 15em 2em 0 4em;
    }
    .style-banner h1 {
        font-size: 35px;
    }
    .style-banner p {
        font-size: 14px;
    }
    .button-style {
        padding: 12px 22px;
        font-size: 13px;
    }
    
}

@media(max-width: 1050px) {
    p.counter {
        font-size: 2.8em;
    }
    .style-banner {
        padding: 12em 2em 0 6em;
    }
}

@media(max-width: 1024px) {
    .wthree_banner_bottom_grid_right h4 {
        font-size: 22px;
    }
}

@media(max-width: 991px) {

    /* footer */
    .address-grid i {
        font-size: 32px;
    }

    /* contact */
    .main_grid_contact .input-group1 input[type="submit"] {
        width: 26%;
    }

    .map iframe {
        height: 340px;
    }

    /* newsletter */
    h3.tittle {
        font-size: 30px;
    }
    .d-flex.grids-w3 {
        display: inherit !important;
    }
    .wthree_banner_bottom_grid_right {
        padding-left: 1em;
    }
    ul.apps-lists li a {
        font-size: 15px;
    }
    p.sub-tittle {
        font-size: 14px;
    }
    .effect-w3 {
        margin-top: 6em;
        margin-left: 16em;
    }
    .style-banner {
        padding: 0 9em 5em;
        margin-top: -4em;
    }
    .navbar-light .navbar-toggler {
        border-color: #fff;
        border-radius: 0px;
        background: #fff;
    }
    div#navbarSupportedContent {
        background: rgba(0, 0, 0, 0.87);
        padding: 1.5em 0;
    }
}

@media(max-width: 900px) {}

@media(max-width: 800px) {
    .effect-w3 {
        margin-left: 12em;
    }
    .style-banner {
        padding: 0 4em 4em;
    }
}

@media(max-width: 768px) {
    .effect-w3 {
        margin-left: 10em;
    }
}

@media(max-width: 736px) {
    .main_grid_contact .input-group1 input[type="submit"] {
        width: 32%;
    }

    p {
        font-size: 14px;
    }
}

@media(max-width: 667px) {
    .effect-w3 {
        margin-left: 8em;
        margin-top: 3em;
    }
    .style-banner {
        margin-top: -7em;
    }
}

@media(max-width: 640px) {
    .effect-w3 {
        margin-left: 7em;
    }
}

@media(max-width: 600px) {
    .effect-w3 {
        margin-left: 6em;
    }
}

@media(max-width: 568px) {

    /* footer */
    p.copy-right-grids {
        letter-spacing: 1px;
    }

    .w3l-footer ul li a i {
        height: 38px;
        width: 38px;
        line-height: 2.4;
    }
    ul.apps-lists li {
        display: block;
    }
    .effect-w3 {
        margin-left: 5em;
        margin-top: 1em;
    }
    .style-banner h1 {
        font-size: 30px;
    }
    .style-banner p {
        font-size: 13px;
    }
    .button-style {
        font-size: 12px;
    }
    .style-banner {
        margin-top: -9em;
        padding: 0 3em 3em;
    }
}

@media(max-width: 480px) {

    /* contact */
    .map iframe {
        height: 300px;
    }

    .main_grid_contact .input-group1 input[type="submit"] {
        width: 36%;
    }
    a.navbar-brand {
        font-size: 36px;
    }
    .navbar-light .navbar-toggler {
        padding: 3px 8px;
    }
    a.navbar-brand {
        font-size: 36px;
    }
    .effect-w3 {
        margin-left: 2.5em;
        margin-top: 0em;
    }
    .style-banner h1 {
        font-size: 28px;
    }
    .style-banner {
        margin-top: -10em;
        padding: 0 2em 3em;
    }
}

@media(max-width: 440px) {

    /* contact */
    .main_grid_contact .input-group1 input[type="submit"] {
        width: 42%;
    }

    h4.sec-title-w3 {
        font-size: 24px;
    }
    .effect-w3 {
        margin-left: 1em;
        margin-top: -2em;
    }
    .style-banner {
        margin-top: -11em;
    }
    .style-banner h1 {
        font-size: 26px;
    }
}

@media(max-width: 414px) {
    h2.about-left-w3pvt-lau {
        font-size: 20px;
    }
    p.counter {
        font-size: 2.5em;
    }
    .effect-w3 {
        margin-left: .5em;
    }
}

@media(max-width: 384px) {

    /* footer */
    .address-grid i {
        font-size: 30px;
    }

    p {
        font-size: 13px;
    }

    /* contact */
    .main_grid_contact textarea {
        min-height: 8em;
    }

    .main_grid_contact input[type="text"],
    .main_grid_contact input[type="email"],
    .main_grid_contact textarea,
    .n-right-w3ls input[type="email"],
    .n-right-w3ls input[type="text"] {
        padding: 11px 15px;
        font-size: 14px;
    }

    .main_grid_contact .input-group1 input[type="submit"] {
        width: 48%;
        font-size: 14px;
    }
    .wthree_banner_bottom_grid_right h4 {
        font-size: 20px;
    }
    p.sub-tittle {
        font-size: 13px;
    }
    a.navbar-brand {
        font-size: 34px;
        letter-spacing: 0px;
    }
    .navbar-light .navbar-toggler {
        padding: 2px 7px;
    }
    .effect-w3 {
        margin-left: 0;
        margin-top: -4em;
    }
    .style-banner h1 {
        font-size: 23px;
    }
    .style-banner {
        margin-top: -12em;
    }
    .style-banner p {
        margin-top: 1em !important;
    }
    .navbar-light .navbar-nav .nav-link, a.reqe-button {
        font-size: 13px;
    }
}

@media(max-width: 375px) {

    /* footer */
    .w3l-footer {
        margin-top: 2em !important;
    }
    h2.about-left-w3pvt-lau {
        font-size: 18px;
    }
    h4.sec-title-w3 {
        font-size: 22px;
    }
    .effect-w3 {
        margin-left: -.8em;
    }
}

@media(max-width: 320px) {

    /* contact */
    .map iframe {
        height: 250px;
    }

    .form-w3ls.p-sm-5.p-4 {
        padding: 1.5em .5em !important;
    }

    .main_grid_contact .input-group1 input[type="submit"] {
        width: 56%;
        padding: 12px 0;
    }

    /* newsletter */
    h3.tittle {
        font-size: 28px;
    }
    .wthree_banner_bottom_grid_right {
        padding: 0 .4em;
    }
    h2.about-left-w3pvt-lau {
        font-size: 16px;
    }
    .w3layouts_stats_left.w3_counter_grid2 {
        padding: 0 .5em;
    }
    p.counter {
        font-size: 2.3em;
    }
    .about-in .card {
        padding: .5em .5em;
    }
    .w3ls-pricing.card {
        padding: 2rem 1rem;
    }
    .list-group-item {
        font-size: 14px;
    }
    .effect-w3 {
        margin-left: -2.5em;
        margin-top: -6em;
    }
    a.navbar-brand {
        font-size: 32px;
    }
    .style-banner {
        margin-top: -13em;
        padding: 0 1em 2em;
    }
    .button-style {
        font-size: 11px;
    }
}

/* //responsive */

#myTabContent{

    margin:10px 0 10px;
}

.wizard-container{
    margin:25px 0 25px;
}

@media(max-width: 640px) {

    /* contact */
    .main-w3pvt {
        padding-top: 100%;
    }

}

@media(height: 1200px) {

    /* contact */
    .main-w3pvt {
        padding-top: 100%;
    }

}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.text-goverment{
  font-size:14px;
  color:white;
}

.section-bg {
background: #ecf5ff;
}

/* Services Section
--------------------------------*/

#goverment {
padding: 60px 0 40px 0;
box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#goverment .box {
padding: 30px;
position: relative;
overflow: hidden;
border-radius: 10px;
margin: 0 10px 40px 10px;
background: #fff;
box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
transition: all 0.3s ease-in-out;
}

#goverment .box:hover {
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
}

#goverment .icon {
position: absolute;
left: -10px;
top: calc(50% - 32px);
}

#goverment .icon i {
font-size: 64px;
line-height: 1;
transition: 0.5s;
}

#goverment .title {

font-weight: 700;
font-size: 18px;
}

#goverment .title2 {
margin-left: 40px;
font-weight: 700;
margin-bottom: 15px;
font-size: 14px;
}

#goverment .title a {
color: #111;
}

#goverment .box:hover .title a {
color: #007bff;
}

#goverment .description {
font-size: 14px;
margin-left: 40px;
line-height: 24px;
margin-bottom: 0;
}

#why-us {
padding: 60px 0;
background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
color: #fff;
}

#why-us .card {
background: #00458f;
border-color: #00458f;
border-radius: 10px;
margin: 0 15px;
padding: 15px 0;
text-align: center;
color: #fff;
transition: 0.3s ease-in-out;
height: 100%;
}

#why-us .card:hover {
background: #003b7a;
border-color: #003b7a;
}

#why-us .card i {
font-size: 48px;
padding-top: 15px;
color: #bfddfe;
}

#why-us .card h5 {
font-size: 22px;
font-weight: 600;
}

#why-us .card p {
font-size: 15px;
color: #d8eafe;
}

#why-us .card .readmore {
color: #fff;
font-weight: 600;
display: inline-block;
transition: 0.3s ease-in-out;
border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
border-bottom: #fff solid 2px;
}

#why-us .counters {
padding-top: 40px;
}

#why-us .counters span {
font-family: "Montserrat", sans-serif;
font-weight: bold;
font-size: 48px;
display: block;
color: #fff;
}

#why-us .counters p {
padding: 0;
margin: 0 0 20px 0;
font-family: "Montserrat", sans-serif;
font-size: 14px;
color: #cce5ff;
}

/* Sections Header
--------------------------------*/

.section-header h3 {
font-size: 36px;
color: #283d50;
text-align: center;
font-weight: 500;
position: relative;
}

.section-header h3 {
font-size: 36px;
color: #283d50;
text-align: center;
font-weight: 500;
position: relative;
}

.box p {
text-align: left;
font-size: 15px;
color: black;

}
